<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>CHANGE PASSWORD</h2>
    <form id="resetForm">
        <input type="password" id="newPassword" name="newPassword" required>
        <button type="submit">CHANGE PASSWORD</button>
    </form>
    <script>
        document.getElementById('resetForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const token = window.location.search.split('=')[1]; // Extract the token from the URL
            const newPassword = document.getElementById('newPassword').value;
            console.log(token);
            fetch(`/reset-password?token=${token}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ newPassword })
            }).then(res => res.json())
            .then(data => {
                console.log(data.message);
                alert(data.message);
                window.location.href = '/';  
             })
            .catch(error => {
                console.error('Error:', error);
                alert('Password reset failed. Please try again.');
            });
        });
        </script>
</body>
</html>
